.product-list {
@include mdc-image-list-standard-columns(4);

    overflow: auto;
}

.my-card-content {
    padding: 16px;
}

.my-card {
    height: 350px;
    width: 350px;
}
.my-card__media {
    background-image: url("./assets/images/Melinda.png");
}