* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************/
/* navbar */
/**********************/
.top-bar {
    background-color: black !important;
}
  
.topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
}

#search:hover {
    cursor: pointer;
}

/**********************/
/* image grid */
/**********************/

.cell:hover {
    cursor: pointer;
    opacity: 0.5;
}