* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**********************/
/* navbar */
/**********************/
.top-bar {
    background-color: black !important;
}
  
.topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
}

#search:hover {
    cursor: pointer;
}

/**********************/
/* image grid */
/**********************/
.grid-container {
    position: relative;
    max-width: 100% !important;
    padding: 0% !important;
    margin: 0%;
    vertical-align: middle !important;
}

.container {
    position: relative;
    align-items: center;
    text-align: center;
    float: left;
    max-width: 100%;
}
    
.image {
display: block;
height: 500px;
width: 741.5px; 
}

.hover {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    height: 500px;
    width: 100%;
    opacity: 0.94;
    transition: .5s ease;
    background-color: black;
} 

.words {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.web {
    text-decoration: none;
    color: white;
    font-size: 20px;
    z-index: 3;
}

.container:hover .hover {
    display: none;
}

.image:hover {
    cursor: pointer;
}