* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-bar-right {
  position: absolute !important;
  padding: 0% !important;
  margin: 0 !important;
  display: flex !important;
  top: 1% !important;
  right: 0 !important;
  align-items: center !important;
}

#search {
  position: absolute !important;
  right: 15% !important;
}
/**********************/
/* navbar */
/**********************/
.top-bar {
  background-color: black !important;
}

.topbar-responsive .topbar-responsive-logo {
  color: #fefefe;
  vertical-align: middle;
}

#search:hover {
  cursor: pointer;
}

/**********************/
/* image grid */
/**********************/
.cell:hover {
  cursor: pointer;
  opacity: 0.5;
}

body,
html {
  height: 100%;
  text-align: center;
}

body {
  background-color: #242f3f;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
